

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>


      

<div class="fh5co-loader" style="display: none;"></div>
  <div >
        <app-nav></app-nav>
<div>
    <div id="fh5co-page">
      

      <section>
        <br> <br> <br> <br>
      </section>
       
       
      
            <!-- main -->

         
<div class="main-w3layouts wrapper">

    <div class="row">
      <div class="col-sm-2"><a href="/users" class="pull-right"></a></div>
    </div>
    <div class="row">
      <div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Télécharger une autre photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div><br>

               
          <div class="panel panel-default">
           
          </div>
          
          
          <ul class="list-group">
            
          </ul> 
               
          <div class="panel panel-default">
            
          </div>
          
        </div><!--/col-3-->
      <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active current"><a data-toggle="tab" [routerLink]="['/modifier']">Profile</a></li>
               
                <li routerLinkActive="active current"><a data-toggle="tab" routerLink="/modifier">Change profile </a></li>
                <li routerLinkActive="active current"><a data-toggle="tab" routerLink="/reclamer">Send reclamation</a></li>
               


              </ul>
              
            <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                 <form>
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Name">
							</div>
							
							
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
							</div>
						</div>

						<br>
						<div class="row">
							<div class="col-sm-6">
								<label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>
							</div>
							<div class="col-sm-6 text-right">
								<input class="btn btn-action" type="submit" value="Send message">
							</div>
						</div>
                     
                  </form>
              
             
             
               
              </div><!--/tab-pane-->
      </div><!--/tab-content-->
             

        </div><!--/col-9-->

    </div><!--/row-->
</div>


                                           
